<h3>Top Heroes</h3>
<div class="grid grid-pad">
  <div *ngFor="let hero of heroes" (click)="gotoDetail(hero)" class="col-1-4">
    <div class="module hero">
      <h4>{{hero.name}}</h4>
    </div>
  </div>
</div>
<my-hero-search></my-hero-search>
<div *ngFor="let num of [1, 2, 3, 4 ,5, 6, 7, 8, 9, 10]">
  <div class="text">
    <p>=================================================================</p>
    <p>-----------------------------------------------------------------</p>
    <p>+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++</p>
    <div *ngFor="let num of [1, 2, 3, 4 ,5, 6, 7, 8, 9, 10]">
      <div class="text">
        <p>=================================================================</p>
        <p>-----------------------------------------------------------------</p>
        <p>+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++</p>
      </div>
      <div *ngFor="let num of [1, 2, 3, 4 ,5, 6, 7, 8, 9, 10]">
        <div class="text">
          <p>=================================================================</p>
          <p>-----------------------------------------------------------------</p>
          <p>+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++</p>
        </div>
        <div *ngFor="let num of [1, 2, 3, 4 ,5, 6, 7, 8, 9, 10]">
          <div class="text">
            <p>=================================================================</p>
            <p>-----------------------------------------------------------------</p>
            <p>+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
